
#wb_header { height: 48px; }
#wb_header > .wb_cont_bg { background: #050505 none repeat left top; background-size: auto auto; }
#wb_main { height: 1423px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 83px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat scroll left top; }
body { background: #f5f5f5 none no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent url("https://mebledeco.com/css/gallery/1_50-ts1418214687.jpg") repeat-x center top; }
body, .wb_sbg { min-width: 1200px; min-height: 1554px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1504px; overflow: visible; min-height: 1554px; }
#wb_element_instance118 { top: 2px; left: 1px; min-width: 1199px; width: 1199px; min-height: 48px; height: 48px; display: block; z-index: 943; }
#wb_element_instance118 > ul { display: block; }
#wb_element_instance118 ul { background: transparent none repeat right top; border: 1px none #000000; }
#wb_element_instance118, #wb_element_instance118 ul { text-align: center; }
#wb_element_instance118 ul ul { background: #4a4a4a none repeat right top; }
#wb_element_instance118 li { margin: 0px 40px 0px 40px; }
#wb_element_instance118 li a { text-transform: uppercase; border: 0px none #000000; padding: 17px 0px 15px 0px; font: normal normal 14px Montserrat,sans-serif; text-decoration: none; color: #c7c7c7; line-height: 16px; background: transparent none no-repeat center top; }
#wb_element_instance118 li.over > a, #wb_element_instance118 li:focus > a { border: 0px none #000000; font: normal normal 14px Montserrat,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none no-repeat center top; }
#wb_element_instance118 li.active > a { border: 0px none #000000; font: normal normal 14px Montserrat,sans-serif; text-decoration: underline; color: #ffffff; line-height: 16px; background: transparent none no-repeat center center; }
#wb_element_instance118:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance118:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance118:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance119 { top: 38px; left: 0px; min-width: 1200px; width: 1200px; min-height: 234px; height: 234px; display: block; z-index: 683; }
#wb_element_instance119 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px none #303030; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 234px; }
#wb_element_instance120 { top: 111px; left: 460px; min-width: 660px; width: 660px; min-height: 85px; height: 85px; display: block; z-index: 773; }
#wb_element_instance121 { top: 60px; left: 370px; min-width: 10px; width: 10px; min-height: 190px; height: 190px; display: block; z-index: 774; }
#wb_element_instance122 { top: 60px; left: 130px; min-width: 110px; width: 110px; min-height: 186px; height: 186px; display: block; z-index: 775; overflow: hidden; }
#wb_element_instance122 img { width: 110px; height: 190px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance123 { top: 17px; left: 30px; min-width: 420px; width: 420px; min-height: 24px; height: 24px; display: block; z-index: 742; }
#wb_element_instance124 { top: 416px; left: 430px; min-width: 340px; width: 340px; min-height: 226px; height: 226px; display: block; z-index: 681; overflow: hidden; }
#wb_element_instance124 img { width: 340px; height: 230px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance125 { top: 416px; left: 810px; min-width: 340px; width: 340px; min-height: 226px; height: 226px; display: block; z-index: 683; overflow: hidden; }
#wb_element_instance125 img { width: 340px; height: 230px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance126 { top: 736px; left: 50px; min-width: 340px; width: 340px; min-height: 226px; height: 226px; display: block; z-index: 684; overflow: hidden; }
#wb_element_instance126 img { width: 340px; height: 230px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance127 { top: 416px; left: 50px; min-width: 340px; width: 340px; min-height: 226px; height: 226px; display: block; z-index: 685; overflow: hidden; }
#wb_element_instance127 img { width: 340px; height: 230px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance128 { top: 736px; left: 430px; min-width: 340px; width: 340px; min-height: 226px; height: 226px; display: block; z-index: 686; overflow: hidden; }
#wb_element_instance128 img { width: 340px; height: 230px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance129 { top: 659px; left: 51px; min-width: 339px; width: 339px; min-height: 24px; height: 24px; display: block; z-index: 694; }
#wb_element_instance130 { top: 659px; left: 430px; min-width: 340px; width: 340px; min-height: 24px; height: 24px; display: block; z-index: 699; }
#wb_element_instance131 { top: 660px; left: 810px; min-width: 340px; width: 340px; min-height: 24px; height: 24px; display: block; z-index: 700; }
#wb_element_instance132 { top: 979px; left: 51px; min-width: 339px; width: 339px; min-height: 24px; height: 24px; display: block; z-index: 701; }
#wb_element_instance133 { top: 979px; left: 430px; min-width: 339px; width: 339px; min-height: 24px; height: 24px; display: block; z-index: 703; }
#wb_element_instance134 { top: 736px; left: 810px; min-width: 340px; width: 340px; min-height: 226px; height: 226px; display: block; z-index: 688; overflow: hidden; }
#wb_element_instance134 img { width: 340px; height: 230px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance135 { top: 979px; left: 810px; min-width: 340px; width: 340px; min-height: 24px; height: 24px; display: block; z-index: 705; }
#wb_element_instance136 { top: 1056px; left: 50px; min-width: 340px; width: 340px; min-height: 226px; height: 226px; display: block; z-index: 690; overflow: hidden; }
#wb_element_instance136 img { width: 340px; height: 230px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance137 { top: 1299px; left: 50px; min-width: 340px; width: 340px; min-height: 24px; height: 24px; display: block; z-index: 707; }
#wb_element_instance138 { top: 411px; left: 45px; min-width: 350px; width: 350px; min-height: 236px; height: 236px; display: block; z-index: 669; }
#wb_element_instance138 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px solid #ffffff; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 350px; height: 236px; }
#wb_element_instance139 { top: 411px; left: 425px; min-width: 350px; width: 350px; min-height: 236px; height: 236px; display: block; z-index: 670; }
#wb_element_instance139 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px solid #ffffff; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 350px; height: 236px; }
#wb_element_instance140 { top: 411px; left: 805px; min-width: 350px; width: 350px; min-height: 236px; height: 236px; display: block; z-index: 671; }
#wb_element_instance140 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px solid #ffffff; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 350px; height: 236px; }
#wb_element_instance141 { top: 731px; left: 45px; min-width: 350px; width: 350px; min-height: 236px; height: 236px; display: block; z-index: 673; }
#wb_element_instance141 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px solid #ffffff; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 350px; height: 236px; }
#wb_element_instance142 { top: 731px; left: 425px; min-width: 350px; width: 350px; min-height: 236px; height: 236px; display: block; z-index: 675; }
#wb_element_instance142 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px solid #ffffff; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 350px; height: 236px; }
#wb_element_instance143 { top: 731px; left: 805px; min-width: 350px; width: 350px; min-height: 236px; height: 236px; display: block; z-index: 676; }
#wb_element_instance143 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px solid #ffffff; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 350px; height: 236px; }
#wb_element_instance144 { top: 1051px; left: 45px; min-width: 350px; width: 350px; min-height: 236px; height: 236px; display: block; z-index: 677; }
#wb_element_instance144 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px solid #ffffff; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 350px; height: 236px; }
#wb_element_instance145 { top: 1343px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance146 { top: 61px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance120 p:last-child { margin-bottom: 0; }
#wb_element_instance121 > .wb-elm-line { margin: 0 0 0 1px; width: 1px; height: 100%; left: 50%; top: 0; border-left: 1px dotted #303030;; }
#wb_element_instance123 p:last-child { margin-bottom: 0; }
#wb_element_instance129 p:last-child { margin-bottom: 0; }
#wb_element_instance130 p:last-child { margin-bottom: 0; }
#wb_element_instance131 p:last-child { margin-bottom: 0; }
#wb_element_instance132 p:last-child { margin-bottom: 0; }
#wb_element_instance133 p:last-child { margin-bottom: 0; }
#wb_element_instance135 p:last-child { margin-bottom: 0; }
#wb_element_instance137 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
